.stage h2 {
  box-shadow: 10px 10px 5px #4682B4;
  text-shadow: 0 0 3px #00b7ff, 0 0 5px #0000FF;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.stage h2 svg {
  color: var(--color-primary);
  margin-right: 0.5rem;
}

.stage__list {
  list-style: none;
  margin: 0;
  margin-top: 3rem;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.stage__list li {
  display: flow-root;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.stage__list li:not(:last-child) {
  margin-bottom: 2rem;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.stage__list li:nth-child(even) .stage__list-image {
  float: right;
  margin-left: 1.5rem;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}
.stage__list li:nth-child(odd) .stage {
  margin-right: 1.5rem;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.stage__list-content {
  min-height: 100%;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.stage__list-image {
  border-radius: 0.3rem;
  height: 300px;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  width: 300px;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

@media (max-width: 600px) {
  .stage__list li {
    display: block;
  }
  .stage__list > li > div{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .stage__list-image {
    margin-bottom: 1rem;
    max-width: 300px;
    width: 100%;
  }
  .stage__list li:nth-child(even) .stage__list-image {
    float: none;
    margin-left: 0;
  }
  .stage__list li:nth-child(odd) .stage__list-image {
    float: none;
    margin-right: 0
  }
}