.contact h2 svg {
  color: var(--color-primary);
  margin-right: 0.5rem;
}

.contact h2 {
  text-shadow: 0 0 3px #00b7ff, 0 0 5px #0000FF;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.contact h3 {
  text-shadow: 0 0 3px #00b7ff, 0 0 5px #0000FF;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #6495ED;
  text-align: center;
  padding: 10px;
}

.contact h4 {
  text-shadow: 0 0 3px #00b7ff, 0 0 5px #0000FF;
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #6495ED;
  text-align: center;
  padding: 10px;
}

.contact div {
  box-shadow: 10px 10px 5px #4682B4;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

